.newClothingComponent {
  border: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(247, 247, 247);
  width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.newClothingComponent h1 {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: rgb(4, 0, 255);
  text-shadow: 4px 8px 7px rgba(0, 0, 0, 0.2);
  margin: 5px 200px;
}

.newClothingComponent .formContainer {
  display: flex;
  flex-direction: column;
}

.newClothingComponent .formContainer input {
  width: 500px;
  margin: 10px 50px;
  padding: 5px;
  border: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.newClothingComponent .formContainer input[type="file"] {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.newClothingComponent .formContainer .addPicturesBtn {
  border: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  background-color: rgb(161, 226, 250);
  color: white;
  padding: 1px;
  cursor: pointer;
  width: 150px;
  margin: 10px 50px;
  padding: 5px;
  text-align: center;
}