.newClothingComponent {
  border: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(247, 247, 247);
  width: 80%;
  margin: auto;
}

.newClothingComponent h1 {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 5px 200px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer input {
  width: 500px;
  margin: 10px 50px;
  padding: 5px;
  border: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}
